@import "base/normalize";
@import "base/variables";
@import "layout";
@import "tag";
@import "article";
@import "articleForm";

body{
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    font-size: 14px;
    background-color: $colorBg;
}
html, body, #app, .layout{
    height: 100%;
}
ul, li{
    list-style: none;
}
p, h1, h2, h3, h4, ul, li{
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, h4 {
    font-weight: 400;
}

.clearfix{
    &:after{
        content: '';
        display: block;
        height: 0px;
        line-height: 0px;
        clear: both;
    }
}