.tag{
    &Page{
        padding: 10px;
    }
    &List{
        display: flex;
    }
    &Item{
        width: 200px;
        height: 200px;
        background-size: cover;
        margin-right: 10px;
        display: table;
        &-cell{
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            background-color: rgba(0, 0, 0, .3);
        }
        &-name{
            font-size: 20px;
            color: $colorWhite;
        }
        &-desc{
            color: $colorWhite;
            margin: 10px 0px;
        }
    }
    &Toolbar{
        padding: 20px 0px;
    }
}