.cooAlert{
    padding: 10px;
    position: relative;
    text-align: center;
    display: block;

    &--primary{
        background-color:#c2e4e7;
        color: #484848;
        .cooAlert-close{
            color: $blue;
        }
    }
    &--success{
        background-color: $green;
        color: $white;
    }
    &--normal{
        background-color: $gray;
        color: $white;
    }
    &--danger{
        background-color: $red;
        color: $white;
    }
    &--white{
        background-color: $white;
        color: #484848;
    }
    &-close{
        position: absolute;
        right: 10px;
        top: 10px;
        text-decoration: none;
        color: $white;
    }
}