.cooForm{
    padding-bottom: 30px;
    &-content{
        padding: 0px 30px;
        margin-top: 30px;
    }
    &-footer{
        margin-top: 30px;
        padding: 0px 30px;
    }
    &Item{

    }
    &Label{
        font-size: 16px;
        padding-bottom: 10px;
        color: $colorGray;
    }
    // 垂直
    &--vertical{
        .cooForm{
            &Line{
                margin-bottom: 10px;
            }
            &Item{

            }
            &Label{

            }
            &Field{

            }
        }
    }
    // 水平
    &--horizontal {
        .form{
            &-line{

            }
            &-item{

            }
            &-label{

            }
            &-field{

            }
        }
    }
}

.cooField-tip{
    display: none;
    margin-top: 5px;
    color: $errorBorderColor;
    &--show{
        display: block;
    }
}